<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise Financeira💰</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>

<div class="box">
    
    <div class="tabela">
        
        <h1>Tabela de Gastos : </h1>

        <table>
            <thead>
                <tr>
                    <th class="col-mes">Mês</th>
                    <th>Saldo</th>
                    <th>Receita</th>
                    <th>Despesas</th>
                </tr>
            </thead>
            <tbody>
                {% for linha in tabela %}
                <tr>
                    <td class="col-mes">{{ linha.mes }}</td>
                    <td>{{ linha.saldo }}</td>
                    <td>{{ linha.receita }}</td>
                    <td>{{ linha.despesa }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="rank">

        <h1>Rank Anual : </h1>

        <p>O mês com o pior saldo foi:  <strong class="menor">   {{rank_anual["Pior_Valor"][0]}} (R$ {{rank_anual['Pior_Valor'][1]}})    </strong></p>
        <p>O mês com o maior saldo foi: <strong class="maior">  {{rank_anual['Maior_Valor'][0]}} (R$ {{rank_anual['Maior_Valor'][1]}})  </strong></p>
        <p>Saldo total do ano: R${{rank_anual['Soma_Anual']}} </p>

    </div>
</div>

</body>
</html>