<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise Financeira💰</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="rank">

        <h1>Rank Anual : </h1>

        <p>O mês com o pior saldo foi:  <strong class="menor">   {{rank_anual["Pior_Valor"][0]}} (R$ {{rank_anual['Pior_Valor'][1]}})    </strong></p>
        <p>O mês com o maior saldo foi: <strong class="maior">  {{rank_anual['Maior_Valor'][0]}} (R$ {{rank_anual['Maior_Valor'][1]}})  </strong></p>
        <p>Saldo total do ano: R${{rank_anual['Soma_Anual']}} </p>

    </div>
</body>
</html>